.footer{
    padding: 8vh 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.9px solid #a2a2a242;
}
.footer .contact_box{
    min-height: 30vh;
    width: 70%;
    padding: 5vh 0;
}
.footer .contact_box  p{
    font-family: 'Portfolio_l';
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: #E2F1E7;
    width: 320px;
    background: linear-gradient(90deg, #3b82f6, #22d3ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer .contact_box button{
    padding: 12px 36px;
    border-radius: 24px;
    font-size: 18px;
    background: linear-gradient(135deg, #3b82f6, #06b6d4);
    color: #fff;
    font-family: 'Portfolio_h';
    border: none;
    margin: 5vh 0;
}
.footer .bottom_sct{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.footer  .icons{
    display: flex;
    gap: 16px;
}
.footer  .icon{
    height: 4vh;
    width: 4vh;
   color: #E2F1E7;
   font-size: 1.8rem;
    background: linear-gradient(90deg, #3b82f6, #22d3ee);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

@media(max-width:1200px){
    .footer .contact_box{
        width: 90%;
    }
    .footer .bottom_sct{
        width: 90%;
    }
    .footer{
        padding-bottom: 6vh;
        padding-top: 10vh;
    }
}

@media(max-width:450px){
    .footer .bottom_sct{
        flex-direction: column-reverse;
        align-items: end;
        gap: 16px;
    }
}

@media(max-width:380px){
    .footer .contact_box  p{
        width: 100%;
    }
}
